---
import Nav from "@components/Nav.astro";
import ProjectCard from "@components/ProjectCard.astro";
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects", ({ id }) =>
  id.startsWith("en/")
);
---

<Layout
  title="Proyectos Conamba - Aparejadores"
  description="Conamba - CEnvironmental Consultants of the Balearic Islands - Quantity Surveyors. Check all the projects in which we have participated."
  lang="en"
>
  <Nav />
  <Section
    id="projects"
    title="Our projects"
    styleClass="flex-col px-0 py-[7rem]"
  >
    <div class="w-full flex flex-wrap justify-between gap-8">
      {
        projects.map((project) => {
          const { slug, data } = project;
          const { title, mainImage, shortName } = data;
          return (
            <ProjectCard
              name={title}
              img={mainImage.url}
              altImg={mainImage.description}
              slug={slug}
              shortName={shortName}
            />
          );
        })
      }
    </div>
  </Section>
</Layout>
