---
import Nav from "@components/Nav.astro";
import Parallax from "@components/Parallax.astro";
import Project from "@components/Project.astro";
import Section from "@components/Section.astro";
import Service from "@components/Service.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const SERVICES_FIRST_COL = [
  {
    title: "Certificados",
    items: [
      "Informe de evaluación del edificio (ITE/IEE)",
      "Certificados energéticos",
      "Cédulas de habitabilidad",
    ],
    icon: "fa-solid fa-certificate",
  },
];

const SERVICES_SECOND_COL = [
  {
    title: "Informes",
    items: [
      "Informe para la solicitud de los Fondos Next Generation Programa 3 PRTR.",
      "Ayudas para actuaciones de rehabilitación a nivel de edificio.",
      "Mediciones y presupuestos",
      "Levantamientos sobre el estado actual",
    ],
    icon: "fa-solid fa-file",
  },
];

const projects = await getCollection("projects");
---

<Layout
  title="Conamba - Aparejadores"
  description="Conamba - Consultores Ambientales de Baleares - Aparejadores"
>
  <header
    class="flex flex-col items-center h-screen w-full bg-[url('/header-img.jpeg')] bg-no-repeat bg-right bg-cover bg-fixed"
  >
    <Nav />
    <h1 class="mt-12 text-7xl text-white uppercase">Conamba</h1>
    <h2 class="text-4xl text-white uppercase">Aparejadores</h2>
  </header>
  <Section
    id="services"
    title="Nuestros servicios"
    styleClass="flex-col px-0 py-[7rem]"
  >
    <div class="flex flex-wrap gap-[5rem] items-center">
      <div class="flex flex-col gap-[3rem] flex-1">
        {
          SERVICES_FIRST_COL.map((service) => {
            return (
              <Service
                title={service.title}
                items={service.items}
                icon={service.icon}
              />
            );
          })
        }
      </div>
      <div class="flex flex-col gap-[3rem] flex-1">
        {
          SERVICES_SECOND_COL.map((service) => {
            return (
              <Service
                title={service.title}
                items={service.items}
                icon={service.icon}
              />
            );
          })
        }
      </div>
    </div>
  </Section>
  <Parallax
    imageBackground="bg-[url(/projects/5-star-hotel-rehab/IMG_5020.JPG)]"
  />
  <Section
    id="projects"
    title="Nuestros últimos proyectos"
    styleClass="flex-col px-0 py-[7rem]"
  >
    <div class="w-full flex flex-wrap justify-between gap-8">
      {
        projects.map((project, index) => {
          const { slug, data } = project;
          const { title, mainImage } = data;
          if (index < 3) {
            return (
              <Project
                name={title}
                img={mainImage.url}
                altImg={mainImage.description}
                slug={slug}
              />
            );
          }
        })
      }
    </div>
    <a href="/projects" class="max-w-[200px] bg-transparent text-white text-center font-bold py-2 px-5 border-2 border-customGreen w-[90%] mx-auto text-[1.3em] cursor-pointer hover:bg-customGreen hover:text-black"> VER MÁS </a>
  </Section>
  <Parallax
    imageBackground="bg-[url(/projects/5-star-hotel-rehab/IMG_5126.JPG)]"
  />
  <Section
    id="contact"
    title="Contáctanos"
    styleClass="flex-col md:flex-row py-[7rem]"
  >
    <div class="flex flex-col text-xl gap-[1.5rem] text-white">
      <span>
        Para cualquier consulta, petición o solicitud de presupuesto de
        honorarios, puede contactarme a través del correo electrónico o número
        de teléfono:
      </span>
      <span> conamba.aparejadores@gmail.com </span>
      <span> 630 360 927 </span>
      <span> Disponibilidad por toda la isla de Mallorca. </span>
    </div>
  </Section>
</Layout>
