---
import Nav from "@components/Nav.astro";
import Contact from "@components/Contact.astro";
import Parallax from "@components/Parallax.astro";
import Project from "@components/Project.astro";
import Section from "@components/Section.astro";
import Service from "@components/Service.astro";
import Layout from "@layouts/Layout.astro";

import { getCollection } from "astro:content";

const projects = await getCollection("projects", ({ id }) =>
  id.startsWith("ca/")
);
const services = await getCollection("services", ({ id }) =>
  id.startsWith("ca/")
);

const servicesLeft = services.filter(
  (service) => service.data.column === "left"
);
const servicesRight = services.filter(
  (service) => service.data.column === "right"
);
---

<Layout
  lang="ca"
  title="Conamba - Aparejadores"
  description="Conamba - Consultors Ambientals de Balears - Apareadors"
>
  <header
    class="flex flex-col items-center h-screen w-full bg-[url('/header-img.jpeg')] bg-no-repeat bg-right bg-cover bg-fixed"
  >
    <Nav />
    <h1 class="mt-12 text-7xl text-white uppercase">Conamba</h1>
    <h2 class="text-4xl text-white uppercase">Apareadors</h2>
  </header>
  <Section
    id="services"
    title="Els nostres serveis"
    styleClass="flex-col px-0 py-[7rem]"
  >
    <div class="flex flex-wrap gap-[3rem] md:gap-[5rem] items-center">
      <div class="flex flex-col gap-[3rem] flex-1">
        {
          servicesLeft.map((service) => {
            const { title, content, icon } = service.data;
            return <Service title={title} items={content} icon={icon} />;
          })
        }
      </div>
      <div class="flex flex-col gap-[3rem] flex-1">
        {
          servicesRight.map((service) => {
            const { title, content, icon } = service.data;
            return <Service title={title} items={content} icon={icon} />;
          })
        }
      </div>
    </div>
  </Section>
  <Parallax
    imageBackground="bg-[url(/projects/5-star-hotel-rehab/IMG_5020.JPG)]"
  />
  <Section
    id="projects"
    title="Els nostres projectes"
    styleClass="flex-col px-0 py-[7rem]"
  >
    <div class="w-full flex flex-wrap justify-between gap-8">
      {
        projects.map((project, index) => {
          const { slug, data } = project;
          const { title, mainImage } = data;
          if (index < 3) {
            return (
              <Project
                name={title}
                img={mainImage.url}
                altImg={mainImage.description}
                slug={slug}
              />
            );
          }
        })
      }
    </div>
    <a
      href="/ca/projects"
      class="max-w-[200px] bg-transparent text-white text-center font-bold py-2 px-5 border-2 border-customGreen w-[90%] mx-auto text-[1.3em] cursor-pointer hover:bg-customGreen hover:text-black"
    >
      VEURE'N MÉS
    </a>
  </Section>
  <Parallax
    imageBackground="bg-[url(/projects/5-star-hotel-rehab/IMG_5126.JPG)]"
  />
  <Section
    id="contact"
    title="Contacta'ns"
    styleClass="flex-col md:flex-row py-[7rem]"
  >
    <Contact />
  </Section>
</Layout>
