---
import Nav from "@components/Nav.astro";
import ProjectCard from "@components/ProjectCard.astro";
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects", ({ id }) =>
  id.startsWith("ca/")
);
---

<Layout
  title="Projectes Conamba - Aparelladors"
  description="Conamba - Consultors Ambientals de Balears - Aparelladors. Explora tots els projectes en els que hem participat."
  lang="ca"
>
  <Nav />
  <Section
    id="projects"
    title="Els nostres projectes"
    styleClass="flex-col px-0 py-[7rem]"
  >
    <div class="w-full flex flex-wrap justify-between gap-8">
      {
        projects.map((project) => {
          const { slug, data } = project;
          const { title, mainImage, shortName } = data;
          return (
            <ProjectCard
              name={title}
              img={mainImage.url}
              altImg={mainImage.description}
              slug={slug}
              shortName={shortName}
              />
          );
        })
      }
    </div>
  </Section>
</Layout>
