---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import Nav from "@components/Nav.astro";
import ProjectDetail from "@components/ProjectDetail.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.data.shortName },
    props: { project },
  }));
}

const { project } = Astro.props;
const { data } = project;
const { title, location, startYear, endYear, sponsor, images, mainImage } =
  data;
---

<Layout
  title={`${title} - Proyectos Conamba`}
  description={`Detalle del proyecto ${title}`}
  lang="es"
>
  <Nav />
  <ProjectDetail
    title={title}
    location={location}
    startYear={startYear}
    endYear={endYear}
    sponsor={sponsor}
    images={images}
  />
  <div
    class="w-full absolute bottom-0 left-0 h-3/6 -z-10"
    style={`background-image:url('/projects${mainImage.urlhd}.webp'); background-size: cover;`}
  >
  </div>
</Layout>
